---
import { Image } from "astro:assets";
import heroBanner from "../../assets/hero-banner-min.png";
import fullLogo from "../../assets/full-logo.svg";
import doorsWindowsWoodwork from "../../assets/Doors_Windows_Woodwork.svg";
import masteringTimbercraftSince1980 from "../../assets/Mastering_Timbercraft_since_1980.svg";
import heroMobileLogo from "../../assets/hero-mobile-logo.svg";

const imageModules = import.meta.glob("../../assets/hero-carousel/*.png", {
  eager: true,
});
const images = Object.values(imageModules).map((module: any) => module.default);
---

<!-- Hero Section -->
<section class="relative h-screen">
  <Image
    src={heroBanner}
    alt="Hero Background"
    loading={"eager"}
    class="w-full h-full object-cover"
  />

  <!-- SVG Overlay -->
  <!-- Mobile Logo (below 640px) -->
  <div
    class="absolute inset-x-0 top-1/2 -translate-y-1/2 flex flex-col items-center justify-center sm:hidden"
  >
    <Image
      src={heroMobileLogo}
      alt="Kelveneers Logo"
      loading={"eager"}
      class="h-auto w-[85%]"
    />
    <h3
      class="pt-16 min-[407px]:pt-19 text-center text-[#E5E2D6] font-[AcidGrotesk] font-extralight text-2xl"
    >
      Mastering Timbercraft<br /><span class="italic">since 1980</span>
    </h3>
  </div>

  <!-- Desktop Content Container (640px and above) - aligned widthwise up to 60% wide -->
  <div class="hidden sm:block absolute left-[8.33vw] top-0 bottom-0 w-[60%]">
    <!-- Logo and DOORS | WINDOWS | WOODWORK -->
    <div class="absolute top-[36%] left-0 w-full">
      <Image
        src={fullLogo}
        alt="Kelveneers Logo"
        loading={"eager"}
        class="h-auto w-full"
      />
      <div class="pt-[2.4vw]">
        <Image
          src={doorsWindowsWoodwork}
          alt="Doors Windows Woodwork Subtitle"
          loading={"eager"}
          class="h-auto w-[99%]"
        />
      </div>
    </div>
    <div class="absolute bottom-[7%] left-0 w-full">
      <Image
        src={masteringTimbercraftSince1980}
        alt="Mastering Timbercraft since 1980"
        loading={"eager"}
        class="h-auto w-[77%]"
      />
    </div>
  </div>
</section>

<section>
  <div class="grid grid-cols-7 gap-0">
    {
      images.map((image, index) => (
        <Image
          src={image}
          alt=""
          loading={"lazy"}
          class="w-full h-full object-cover"
        />
      ))
    }
  </div>
</section>
