---
import { Image } from "astro:assets";
import arrowDefault from "../../assets/icons/offering_arrow_right.svg";
import arrowHover from "../../assets/icons/offering_arrow_right_on_hover_orange.svg";

export interface Props {
  text: string;
  index: number;
  url?: string;
}

const { text, index, url } = Astro.props;
---

<li
  class="border-b-[0.5px] border-[#F0F1F2] pt-2 sm:pt-2.5 md:pt-3 lg:pt-4 xl:pt-5 pb-2 sm:pb-2.5 md:pb-3 lg:pb-4 xl:pb-5 flex justify-between items-center cursor-pointer offering-item"
  data-item={index}
  onclick={url ? `window.location.href='${url}'` : undefined}
>
  <span
    class="font-[AcidGrotesk] font-light text-[#F0F1F2] text-sm sm:text-base md:text-lg lg:text-xl xl:text-3xl transition-colors"
    >{text}</span
  >
  <Image
    src={arrowDefault}
    alt="arrow"
    class="transition-all duration-200 w-3.25 sm:w-[19px] offering-arrow-default"
    width={13}
    height={13}
  />
  <Image
    src={arrowHover}
    alt="arrow hover"
    class="hidden transition-all duration-200 w-3.25 sm:w-[25px] offering-arrow-hover"
    width={13}
    height={13}
  />
</li>
